html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

h1 {
  background-color: yellow;
  height: 125px;
  width: 125px;
  margin: 10px auto;
  text-align: center;
}

.l-game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.l-game-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #bbada0;
  height: 600px;
  width: 600px;
  float: left;
}

.grid-cell {
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
  display: inline-block;
  height: 125px;
  width: 125px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.grid-cell:last-child {
  margin-right: 0;
}

.l-sidebar {
  width: 30px;
}

footer {
  display: block;
}

.two {
  background-color: #eee4da;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}
