html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  height: 100vh;
  width: 100vw;
}

h1 {
  background-color: #edc22e;
  height: 125px;
  width: 125px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

.l-game-container {
  width: 600px;
  margin: auto;
  height: 20px;
}

.l-game-grid {
  background-color: #bbada0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
}

td {
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
  display: inline-block;
  height: 125px;
  width: 125px;
  margin-right: 15px;
  margin-bottom: 10px;
}

td:last-child {
  margin-right: 0;
}

.l-sidebar {
  height: 100%;
  width: 200px;
  position: relative;
  top: 200px;
  left: 650px;
}

footer {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  width: 600px;
  text-align: center;
  position: relative;
  top: 675px;
}

.tile0 {
  color: transparent;
}

.tile2 {
  background-color: #eee4da;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile4 {
  background-color: #ede0c8;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile8 {
  color: #f9f6f2;
  background-color: #f2b179;
}

.tile16 {
  color: #f9f6f2;
  background-color: #f59563;
}

.tile32 {
  color: #f9f6f2;
  background-color: #f67c5f;
}

.tile64 {
  color: #f9f6f2;
  background-color: #f65e3b;
}

.tile128 {
  color: #f9f6f2;
  background-color: #edcf72;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
  font-size: 45px;
}

.tile256 {
  color: #f9f6f2;
  background-color: #edcc61;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

.tile512 {
  color: #f9f6f2;
 background-color: #edc850;
 box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}

.tile1024 {
  color: #f9f6f2;
  background: #edc850;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
 }

 .tile2048 {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
 }

 /**/

 @media screen and (max-width: 725px){
   body {
     height: 80vh;
   }
   .l-game-container{
     width: 400px;
     margin: auto;
   }

   .l-game-grid{
     height: 400px;
     width: 400px;

     bottom: 200px;
   }

   td {
     border-radius: 2px;
     height: 83.3px;
     width: 83.3px;
     margin-right: 10px;
     margin-bottom: 6px;
   }

   .l-sidebar {
     left: 420px;
   }

   footer {
     width: 400px;
     top: 500px;

   }
 }

@media screen and (max-width: 400px) {



.l-game-container{
  width: 300px;
  margin: auto;
}

.l-game-grid{
  height: 300px;
  width: 300px;
}

.l-sidebar {
  left: 120px;
  top: -10px;
}

td {
  border-radius: 1.5px;
  height: 62.5px;
  width: 62.5px;
  margin-right: 7.5px;
  margin-bottom: 4.5px;
}

footer {
  width: 300px;
  top: 450px;
}
}
