html {
  box-sizing: border-box;
}

body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 22px;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100%;
}

h1 {
  background-color: #edc22e;
  background: #edc22e; /* fallback for old browsers */
  color: white;
  display: inline-block;
  height: 125px;
  width: 125px;
  font-size: 40px;
  font-weight: 800;
  margin-top: 25px;
  text-align: center;
  vertical-align: middle;
}

button {
  background: rgba(0,0,0,0);
  border: solid 5px #07889B;
  color: #07889B;
  font-size: 15px;
  font-weight: 600;
  height: 50px;
  width: 150px;
}

button:hover {
  background: rgba(0,0,0,0);
  border: solid 8px #07889B;
  color: #07889B;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.instructions {
  font-size: 15px;
  font-weight: 500;
  margin: 10px auto;
  width: 390px;
}

.game-manager-container {
  display: inline-block;
  height: 100%;
  width: 150px;
}

.score-container {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  text-align: center;
}

.score-header {
  font-size: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.current-score, .high-score {
  color: #000000;
  font-size: 25px;
}

.high-score {
  color: #07889B;
}

.high-score-container {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-top: 30px;
  text-align: center;
}

.new-game-button {
  margin: 20px auto;
}

.l-game-container {
  height: 600px;
  width: 600px;
  margin: 100px auto;
}

.l-game-grid {
  background-color: #B9D7EA;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
}

td {
  border-radius: 15px;
  background: #D1E9EA;
  position: relative;
  display: inline-block;
  height: 125px;
  width: 125px;
  font-size: 55px;
  font-weight: 800;
  margin-right: 15px;
  margin-bottom: 10px;
  text-align: center;

}

td:last-child {
  margin-right: 0;
}

footer {
  display: block;
  font-size: 15px;
  margin: 50px auto;
  width: 600px;
  text-align: center;
}

.tile0 {
  color: transparent;
}

.tile2 {
  color: #f9f6f2;
  background-color: #EA5455;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile4 {
  background-color: #ede0c8;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile8 {
  color: #f9f6f2;
  background-color: #f2b179;
}

.tile16 {
  color: #f9f6f2;
  background-color: #f59563;
}

.tile32 {
  color: #f9f6f2;
  background-color: #f67c5f;
}

.tile64 {
  color: #f9f6f2;
  background-color: #f65e3b;
}

.tile128 {
  color: #f9f6f2;
  background-color: #edcf72;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}

.tile256 {
  color: #f9f6f2;
  background-color: #edcc61;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

.tile512 {
  color: #f9f6f2;
 background-color: #edc850;
 box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}

.tile1024 {
  color: #f9f6f2;
  background: #edc850;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
 }

 .tile2048 {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
 }

 /*RESPONSIVENESS*/

 @media screen and (max-width: 725px){
   body {
     height: 80vh;
   }
   .l-game-container{
     width: 400px;
     margin: auto;
   }

   .l-game-grid{
     height: 400px;
     width: 400px;

     bottom: 200px;
   }

   td {
     border-radius: 2px;
     height: 83.3px;
     width: 83.3px;
     margin-right: 10px;
     margin-bottom: 6px;
   }

   .l-sidebar {
     left: 420px;
   }

   footer {
     width: 400px;
     top: 500px;

   }
 }

@media screen and (max-width: 400px) {



.l-game-container{
  width: 300px;
  margin: auto;
}

.l-game-grid{
  height: 300px;
  width: 300px;
}

.l-sidebar {
  left: 120px;
  top: -10px;
}

td {
  border-radius: 1.5px;
  height: 62.5px;
  width: 62.5px;
  margin-right: 7.5px;
  margin-bottom: 4.5px;
}

footer {
  width: 300px;
  top: 450px;
}
